<footer>
    <div class="info">
        <div class="social-links">
          <a href=https://www.instagram.com/realdevjourney_part1?igsh=MXZrOG9tZWVqdTg1OA==""  ><div><i class="fa-brands fa-instagram"></i></div> </a>
<a href="https://www.linkedin.com/in/zeeshan-shakeel-ba8069300?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app" >  <div><i class="fa-brands fa-linkedin"></i></div></a>
 <a href="mailto:zeeshanabccba@gmail.com">
  <div><i class="fa-solid fa-envelope"></i></div>
</a>

        </div>
        <div class="info-brand">&copy; CozyStay Pvt Limited</div>
        <div class="info-link">
            <a href="/privacys">Privacy</a>
            <a href="/privacys">Terms</a>
        </div>
    </div>
</footer>